<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to Bulgaria's Sigths!</h1>
			<p>View our hand-picked sigths from all over the world!</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/sigths/new">Add New Sigth</a>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% sigths.forEach(function(sigth){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= sigth.image %>">
					<div class="caption">
						<h4><%= sigth.name %></h4>
					</div>
					<p>
						<a href="/sigths/<%= sigth._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>